<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="قالب مدیریت بوت‌استرپ ۵ چندمنظوره، فوق‌العاده انعطاف‌پذیر، قدرتمند، مدرن و واکنش‌گرا، تمیز"
      name="description" />
    <meta
      content="قالب مدیریت, قالب مدیریت axelit, قالب داشبورد, قالب مدیریت فلت, قالب مدیریت واکنش‌گرا, اپلیکیشن وب"
      name="keywords" />
    <meta content="la-themes" name="author" />
    <link href="../assets/images/logo/favicon.png" rel="icon" type="image/x-icon" />
    <link href="../assets/images/logo/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <title>قالب مدیریتی پریمیوم اکسلیت</title>

    <!--font-awesome-css-->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="../assets/fonts/estedad/fontface.css" rel="stylesheet" />

    <!-- iconoir icon css  -->
    <link href="../assets/vendor/ionio-icon/css/iconoir.css" rel="stylesheet" />

    <!-- tabler icons-->
    <link href="../assets/vendor/tabler-icons/tabler-icons.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css-->
    <link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App css-->
    <link href="../assets/css/style.101.css" rel="stylesheet" type="text/css" />

    <!-- Responsive css-->
    <link href="../assets/css/responsive.101.css" rel="stylesheet" type="text/css" />

    <script>
      function isRTL() {
        return document.documentElement.dir === "rtl";
      }
    </script>
  </head>

  <body class="rtl">
    <div class="app-wrapper">
      <!-- Body main section starts -->
      <div class="w-100">
        <div class="container-fluid">
          <!-- axelit Coming Soon start -->
          <div class="row">
            <div class="col-12 p-0">
              <div class="coming-soon">
                <div class="coundown-timmer p-5">
                  <div class="content">
                    <h2 class="text-dark">به زودی اکسلیت میاد</h2>
                  </div>
                  <div class="timmer-content">
                    <div class="numbers">
                      <span class="" id="days">00</span>
                      <span>روز</span>
                    </div>
                    <span>:</span>
                    <div class="numbers">
                      <span class="" id="hours">00</span>
                      <span>ساعت</span>
                    </div>
                    <span>:</span>
                    <div class="numbers">
                      <span class="" id="minutes">00</span>
                      <span>دقیقه</span>
                    </div>
                    <span>:</span>
                    <div class="numbers">
                      <span class="" id="seconds">00</span>
                      <span>ثانیه</span>
                    </div>
                  </div>

                  <p class="font-coming-p mt-4 f-w-500">اعلان‌های ایمیلی برای صفحات «به‌زودی»:</p>
                  <div class="app-form mb-3 mt-2 rounded-control">
                    <div class="d-flex align-items-center flex-wrap gap-2 justify-content-center">
                      <input
                        class="form-control form-control-lg text-center coming-soon-input"
                        id="username"
                        placeholder="ایمیلی وارد کنید"
                        type="email" />
                      <a class="btn btn-light-primary btn-xl" href="coming_soon.html#">مشترک شوید</a>
                    </div>
                  </div>
                  <div class="copy-right-section mt-3">
                    <p class="f-w-500 mb-0 f-s-18">
                      کپی‌رایت ۲۰۲۵ © قالب اکسلیت. تمامی حقوق محفوظ است 💖
                      <a class="f-w-600 text-primary-dark" href="coming_soon.html#">ورژن 1.1.0</a>
                      ✨
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- axelit Coming Soon end -->
        </div>
      </div>
      <!-- Body main section ends -->
    </div>

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.3.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>

    <!--js-->
    <script src="../assets/js/coming_soon.js"></script>
  </body>
</html>
