<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="قالب مدیریت بوت‌استرپ ۵ چندمنظوره، فوق‌العاده انعطاف‌پذیر، قدرتمند، مدرن و واکنش‌گرا، تمیز"
      name="description" />
    <meta
      content="قالب مدیریت, قالب مدیریت axelit, قالب داشبورد, قالب مدیریت فلت, قالب مدیریت واکنش‌گرا, اپلیکیشن وب"
      name="keywords" />
    <meta content="la-themes" name="author" />
    <link href="../assets/images/logo/favicon.png" rel="icon" type="image/x-icon" />
    <link href="../assets/images/logo/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <title>قالب مدیریتی پریمیوم اکسلیت</title>

    <!--font-awesome-css-->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="../assets/fonts/estedad/fontface.css" rel="stylesheet" />

    <!-- iconoir icon css  -->
    <link href="../assets/vendor/ionio-icon/css/iconoir.css" rel="stylesheet" />

    <!-- tabler icons-->
    <link href="../assets/vendor/tabler-icons/tabler-icons.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css-->
    <link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App css-->
    <link href="../assets/css/style.101.css" rel="stylesheet" type="text/css" />

    <!-- Responsive css-->
    <link href="../assets/css/responsive.101.css" rel="stylesheet" type="text/css" />

    <script>
      function isRTL() {
        return document.documentElement.dir === "rtl";
      }
    </script>
  </head>

  <body class="rtl">
    <div class="error-container p-0">
      <div class="container">
        <div>
          <div>
            <img alt="" class="img-fluid" src="../assets/images/background/error-404.png" />
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-lg-8 offset-lg-2">
                <p class="text-center text-secondary f-w-500">
                  صاحبان وب‌سایت باید مرتباً لینک‌های خراب را با استفاده از ابزارهایی مانند کنسول
                  جستجوی گوگل یا سایر نرم‌افزارهای بررسی لینک بررسی و اصلاح کنند.
                </p>
              </div>
            </div>
          </div>
          <a class="btn btn-lg btn-light-primary b-r-22" href="index.html" role="button">
            <i class="ti ti-home"></i>
            برگشت به خانه
          </a>
        </div>
      </div>
    </div>

    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.3.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
