<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="قالب مدیریت بوت‌استرپ ۵ چندمنظوره، فوق‌العاده انعطاف‌پذیر، قدرتمند، مدرن و واکنش‌گرا، تمیز"
      name="description" />
    <meta
      content="قالب مدیریت, قالب مدیریت axelit, قالب داشبورد, قالب مدیریت فلت, قالب مدیریت واکنش‌گرا, اپلیکیشن وب"
      name="keywords" />
    <meta content="la-themes" name="author" />
    <link href="../assets/images/logo/favicon.png" rel="icon" type="image/x-icon" />
    <link href="../assets/images/logo/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <title>قالب مدیریتی پریمیوم اکسلیت</title>

    <!--font-awesome-css-->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="../assets/fonts/estedad/fontface.css" rel="stylesheet" />

    <!-- iconoir icon css  -->
    <link href="../assets/vendor/ionio-icon/css/iconoir.css" rel="stylesheet" />

    <!-- tabler icons-->
    <link href="../assets/vendor/tabler-icons/tabler-icons.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css-->
    <link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App css-->
    <link href="../assets/css/style.101.css" rel="stylesheet" type="text/css" />

    <!-- Responsive css-->
    <link href="../assets/css/responsive.101.css" rel="stylesheet" type="text/css" />

    <script>
      function isRTL() {
        return document.documentElement.dir === "rtl";
      }
    </script>
  </head>

  <body class="rtl">
    <div class="app-wrapper d-block">
      <div class="">
        <!-- Body main section starts -->
        <main class="w-100 p-0">
          <div class="container-fluid">
            <!-- Reset Your Password start -->
            <div class="row">
              <div class="col-12 p-0">
                <div class="login-form-container">
                  <div class="mb-4">
                    <a class="logo d-inline-block" href="index.html">
                      <img alt="#" src="../assets/images/logo/1.png" width="250" />
                    </a>
                  </div>
                  <div class="form_container">
                    <form class="app-form rounded-control">
                      <div class="mb-3 text-center">
                        <h3 class="text-primary-dark">بازنشانی رمز عبور</h3>
                        <p class="f-s-12 text-secondary">
                          یک رمز عبور جدید ایجاد کنید و وارد بخش مدیریت شوید
                        </p>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">رمز عبور فعلی</label>
                        <input
                          class="form-control"
                          placeholder="رمز عبور خود را وارد کنید"
                          type="email" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">رمز عبور جدید</label>
                        <input
                          class="form-control"
                          placeholder="رمز عبور خود را وارد کنید"
                          type="email" />
                      </div>
                      <div class="mb-3">
                        <label class="form-label">تأیید رمز عبور</label>
                        <input
                          class="form-control"
                          placeholder="رمز عبور خود را وارد کنید"
                          type="password" />
                      </div>
                      <div>
                        <a class="btn btn-light-primary w-100" href="index.html" role="button">
                          بازنشانی رمز عبور
                        </a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Reset Your Password end -->
          </div>
        </main>
        <!-- Body main section ends -->
      </div>
    </div>
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.3.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
