<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="قالب مدیریت بوت‌استرپ ۵ چندمنظوره، فوق‌العاده انعطاف‌پذیر، قدرتمند، مدرن و واکنش‌گرا، تمیز"
      name="description" />
    <meta
      content="قالب مدیریت, قالب مدیریت axelit, قالب داشبورد, قالب مدیریت فلت, قالب مدیریت واکنش‌گرا, اپلیکیشن وب"
      name="keywords" />
    <meta content="la-themes" name="author" />
    <link href="../assets/images/logo/favicon.png" rel="icon" type="image/x-icon" />
    <link href="../assets/images/logo/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <title>قالب مدیریتی پریمیوم اکسلیت</title>

    <!--font-awesome-css-->
    <link href="../assets/vendor/fontawesome/css/all.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="../assets/fonts/estedad/fontface.css" rel="stylesheet" />

    <!-- iconoir icon css  -->
    <link href="../assets/vendor/ionio-icon/css/iconoir.css" rel="stylesheet" />

    <!-- tabler icons-->
    <link href="../assets/vendor/tabler-icons/tabler-icons.css" rel="stylesheet" type="text/css" />

    <!-- Bootstrap css-->
    <link href="../assets/vendor/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- App css-->
    <link href="../assets/css/style.101.css" rel="stylesheet" type="text/css" />

    <!-- Responsive css-->
    <link href="../assets/css/responsive.101.css" rel="stylesheet" type="text/css" />

    <script>
      function isRTL() {
        return document.documentElement.dir === "rtl";
      }
    </script>
  </head>

  <body class="sign-in-bg rtl">
    <div class="app-wrapper d-block">
      <div class="main-container">
        <!-- Reset Your Password start -->
        <div class="container">
          <div class="row sign-in-content-bg">
            <div class="col-lg-6 image-contentbox d-none d-lg-block">
              <div class="form-container">
                <div class="signup-content mt-4">
                  <span>
                    <img alt="" class="img-fluid" src="../assets/images/logo/1.png" />
                  </span>
                </div>

                <div class="signup-bg-img">
                  <img alt="" class="img-fluid" src="../assets/images/login/03.png" />
                </div>
              </div>
            </div>
            <div class="col-lg-6 form-contentbox">
              <div class="form-container">
                <form class="app-form rounded-control">
                  <div class="row">
                    <div class="col-12">
                      <div class="mb-5 text-center text-lg-start">
                        <h2 class="text-primary-dark f-w-600">بازنشانی رمز عبور</h2>
                        <p>یک رمز عبور جدید ایجاد کنید و وارد پنل مدیریت شوید</p>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label" for="password">رمز عبور جدید</label>
                        <input
                          class="form-control"
                          id="password"
                          placeholder="رمز عبور خود را وارد کنید"
                          type="password" />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3">
                        <label class="form-label" for="password">تأیید رمز عبور</label>
                        <input
                          class="form-control"
                          id="password1"
                          placeholder="رمز عبور خود را وارد کنید"
                          required=""
                          type="password" />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="mb-3">
                        <a class="btn btn-light-primary w-100" href="sign_in.html" role="button">
                          بازنشانی رمز عبور
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Reset Your Password end -->
      </div>
    </div>
    <!-- latest jquery-->
    <script src="../assets/js/jquery-3.6.3.min.js"></script>

    <!-- Bootstrap js-->
    <script src="../assets/vendor/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
