.dw .latest-blog-area {
    padding-bottom: 0px!important;
}
.brand-ex section.partner-area {
    padding-top: 120px;
    padding-bottom: 0px!important;
}
.up .latest-blog-area {
    padding-top: 115px!important;
}
.mr .about-style2-image-box img {
    max-width: none!important;
    float: right;
}
.mr .about-style1-text-box.style3 {
    padding-left: 74px!important;
    padding-right: 384px;
}
.br .about-style1-area.style3 {
	padding-top: 806px!important;
}
.br .about-style1-area {
    padding: 0px 0 0px; 
}
.dw .service-style1-area.style4 {
    padding-bottom: 0px;
}
.up .service-style1-area.style4 {
    padding-top: 0px;
}