
.rtl {
  direction: rtl; 
}

.ltr {
  direction: ltr; 
}

.rtl .header-navigation ul.navigation-box > li > .sub-menu > li > a{
	text-align: right;
}

.rtl .site-header.header-two .top-bar .contact-infos li + li{
	margin-left: 0px;
	margin-right: 21px;
}

.rtl .header-navigation ul.navigation-box > li:first-child{
	margin-left: 45px;
}

.rtl .header-navigation ul.navigation-box > li:last-child{
	margin-left: 0px;
}

.rtl .site-header.header-two .top-bar .contact-infos li a i{
	margin-right: 0px;
	margin-left: 6px;
}

.rtl section.banner-style-one{
	direction: ltr;
}

.rtl .cta-style-two .content-block{
	text-align: right;
}

.rtl .brand-carousel-one{
	direction: ltr;
}

.rtl .single-taxi-fare-one .top-block .text-block{
	padding-left: 0px;
	padding-right: 20px;
	text-align: right;
}

.rtl .testimonials-style-one{
	direction: ltr;
}

.rtl .single-blog-style-two .text-block{
	text-align: right;
}

.rtl .single-blog-style-one .text-block{
	text-align: right;
}

.rtl .site-header.header-two .header-navigation .container .right-side-box .contact-btn-block .text-block{
	margin-left: 0px;
	margin-right: 10px;
}

.rtl .site-footer.no-top-zigzag .upper-footer{
	text-align: right;
}

.rtl .site-footer .footer-widget .contact-infos li{
	padding-left: 0px;
	padding-right: 20px;
}

.rtl .site-footer .footer-widget .subscribe-form input{
	padding-right: 70px;
}

.rtl .site-footer .footer-widget .contact-infos li i{
	left: inherit;
	right: 0px;
}

.rtl .site-footer .footer-widget .social-block a + a{
	margin-left: 0px;
	margin-right: 31px;
}

.rtl .history-style-one .content-block{
	text-align: right;
}

.rtl .single-offer-one .text-block{
	text-align: right;
}

.rtl .site-header.header-one .header-navigation .right-side-box .contact-btn-block .text-block{
	text-align: right;
}

.rtl .single-blog-style-one{
	text-align: right;
}

.rtl .post_tag a{
	margin-left: 0px;
	margin-right: 10px;
}

.rtl .comemnt_m{
	padding-left: 0px;
	padding-right: 100px;
}

.rtl div#comments{
	text-align: right;
}

.rtl .comment_time{
	right: inherit;
	left: 0px;
}

.rtl .comment-form{
	text-align: right;
}

.rtl .single-taxi-faq-one .accrodion-grp .accrodion.active{
	text-align: right;
}

.rtl .single-taxi-faq-one .accrodion-grp .accrodion{
	text-align: right;
}

.rtl .book-ride-two{
	text-align: right;
}

.rtl .book-ride-two .booking-form-two input{
	padding-right: 30px;
	text-align: right;
}

.rtl .book-ride-two .booking-form-two .input-holder i{
	right: inherit;
	left: 30px;
}

.rtl .book-ride-two .booking-form-two ul.radio-fields li{
	float: right;
}

.rtl .bootstrap-select .dropdown-menu > li > a{
	text-align: right;
}

.rtl .bootstrap-select .dropdown-toggle .filter-option{
	text-align: right;
	padding-right: 30px;
}

.rtl .site-header.header-one .top-bar .logo-block{
	left: 0px;
	-webkit-transform: translate(0%, 0%);
}

.rtl .sidebar-wrapper{
	text-align: right;
}

.rtl .archive-list li a:before, .widget ul li a:before{
	left: -15px;
}