# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=taxi2
DB_USER=postgres
DB_PASSWORD=09379062525

# Server Configuration
PORT=3000
NODE_ENV=development

# IPPanel SMS Gateway
IPPANEL_API_KEY=YOUR_IPPANEL_API_KEY
IPPANEL_SENDER=+983000505
